.movies {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.movies__container {
  display: flex;
  flex-direction: column;
  padding: 40px 0 10px 0;
  row-gap: 34px;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .movies__container {
    display: grid;
    padding: 70px 0 70px 30px;
    grid-template-areas: "item item";
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
  }
}

@media screen and (min-width: 1030px) {
  .movies__container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-areas: "item item item";
  }
}

@media screen and (min-width: 1290px) {
  .movies__container {
    grid-template-columns: repeat(4, minmax(270px, 1fr));
    grid-template-areas: "item item item item";
    row-gap: 20px;
    column-gap: 38px;
  }
}

.movies__span {
  text-align: center;
  grid-area: item;
}
