.checkbox {
  display: flex;
  border: none;
  margin: 0;
}

.checkbox__input {
  position: relative;
  width: 36px;
  height: 20px;
  appearance: none;
  outline: none;
  background: #EBEBEB;
  border-radius: 20px;
  transition: .5s;
}

.checkbox__input:checked {
  background: #2BE080;
}

.checkbox__input:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  transition: .5s;
}

.checkbox__input:checked:before {
  left: 25px;
}

.checkbox__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #000;
  margin: 0 0 0 13px;
}

@media screen and (min-width: 600px) {
  .checkbox__text {
    font-size: 12px;
    margin: 0 0 0 12px;
  }
}
